.node-element {

}

.node-element__name {
  margin-right: 48px;
  color: #2b1605;
}

.node-element__head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 6px 12px;
  background: rgba(53, 211, 167, .3);
  border-bottom: 1px solid rgba(197, 197, 197, .5);
}

.node-list {
  padding: 0;
  margin: 0;
}

.node-list__item {
  margin-left: 2em;
  margin-bottom: 20px;
}
